body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #fceaff, #d9e4ff);
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  z-index: 2;
  position: relative;
  max-width: 600px;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 0 0 30px rgba(255, 182, 193, 0.5);
}

h1 {
  color: #ff5e8e;
  font-size: 28px;
  margin-top: 20px;
}

p {
  color: #333;
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#hearts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
                         }
